<div>
    <h1>
        Hola, {{nombre}}! Estos son todos los usuarios:
    </h1>
    <div>
        <h2>
            Nombre: {{user.name}}
        </h2>
        <h2>
            Apellido: {{user.lastname}}
        </h2>
        <h2>
            Edad: {{user.age}}
        </h2>
        <h2>
            Mail: {{user.mail}}
        </h2>
        <h2>
            Telefono: {{user.phone}}
        </h2>
    </div>
</div>